<?xml version="1.0"?>

<robot>
  <material name="dark_grey"><color rgba="0.2 0.2 0.2 1.0" /></material>
  <material name="light_grey"><color rgba="0.4 0.4 0.4 1.0" /></material>
  <material name="yellow"><color rgba="0.8 0.8 0.0 1.0" /></material>
  <material name="black"><color rgba="0.15 0.15 0.15 1.0" /></material>
  <material name="green"><color rgba="0.25 0.75 0.25 1.0" /></material>
  <material name="orange"><color rgba="0.92 0.33 0.02 1.0" /></material>
</robot>
