<?xml version="1.0"?>
<!-- Basic mecanum drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mecanumdrive_robot">
    <xacro:arg name="use_mock_hardware" default="false" />

    <!-- Robot constants and properties -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_properties.urdf.xacro" />

    <!-- Import Rviz colors -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/materials.xacro" />

    <!-- Import robot description -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_description.urdf.xacro" />

    <!-- Import ros2_control description -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_mecanum.ros2_control.xacro" />

    <!-- Instantiate the robot -->
    <xacro:cmexaiii />

    <!-- Add ros2_control -->
    <xacro:cmexaiii_ros2_control name="CMEXAIII" use_mock_hardware="$(arg use_mock_hardware)"/>


</robot>