<?xml version="1.0"?>
<!-- Basic mecanum drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mecanumdrive_robot">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="false" />

    <!-- Robot constants and properties -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_properties.urdf.xacro" />

    <!-- Import Rviz colors -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/materials.xacro" />

    <!-- Import robot description -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_description.urdf.xacro" />

    <!-- Import ros2_control description -->
    <xacro:include filename="$(find cmeresearch_description)/urdf/cmexaiii/cmexaiii_mecanum.ros2_control.xacro" />

    <!-- Instantiate the robot -->
    <xacro:macro name="cmexaiii_robot" params="prefix">
        <!-- Create the robot chassis and wheels -->
        <xacro:cmexa prefix="${prefix}" />

        <!-- Add ros2_control -->
        <xacro:cmexa_ros2_control
                name="CMEXAIII" prefix="${prefix}" use_mock_hardware="$(arg use_mock_hardware)"/>
    </xacro:macro>

    <!-- Create the robot instance -->
    <xacro:cmexaiii_robot prefix="$(arg prefix)" />

</robot>